*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.nav-nav{
  display: flex;
  flex-direction: row;
  background: #A9CCE3;
  width: -webkit-fill-available;
  height: 84px;
  left: 0px;
  padding: 0px 100px;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: -4px 8px 10px -7px rgba(0,0,0,0.75);
}

.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-img, .nav-inicio, .nav-proyectos, .nav-sobremi, .nav-contacto, .nav-vercv{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.nav-logo{
  width: 60px;
  height: 60.17px;
  cursor: pointer;
}

.start-container{
  display: flex;
  flex-direction: row;
  margin-top: 84px;
  width: -webkit-fill-available;
  height: 400px;
}

.start-img{
  display: flex;
  flex-direction: row;
}

.start-compu{
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 0.7;
}

.start-letter{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
  align-self: center;
}

.start-word{
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

.start-wordtwo{
  display: flex;
  flex-direction: row;
}

h1{
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #242121;
}

h2{
  font-family:inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  color: #242121;
}

h3{
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #242121;
}

.proyect-seccion{
  display: flex;
  flex-direction: row;
  height: 1545px;
}

.proyect-letter{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
  height: 163px;
  justify-content: center;
}

.proyect-word{
  display: flex;
  flex-direction: row;
}

.proyect-proyect{
  display: flex;
  flex-direction: column;
  background: #A9CCE3;
  width: -webkit-fill-available;
}

.proyect-container, .proyect-containertwo, .proyect-containerthree{
  display: flex;
  flex-direction: row;
  height: 350px;
  background: #FFFFFF;
  margin: 0px 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.proyect-mdlink, .proyect-pokemon, .proyect-burger{
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
}

.proyect-word-mdlink{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding: 0px 25px;
}

.proyect-wordone, .proyect-wordtwo, .proyect-wordthree, .proyect-wordfour{
  display: flex;
  flex-direction: row;
}

.proyect-wordtwo, .proyect-wordthree{
  margin-top: 30px;
  text-align: justify;
}

.proyect-wordfour{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  color: #DC6C05;
}

.proyect-npm{
  margin-left: 25px;
}

.proyect-container{
  margin-top: 163px;
}

.proyect-containertwo{
  margin-top: 100px;
}

.proyect-containerthree{
  margin-top: 100px;
}

.aboutme-seccion{
  display: flex;
  flex-direction: row;
  height: 494px;
}

.aboutme-letter{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
  justify-content: center;
  height: 194px;
}

.aboutme-word{
  display: flex;
  flex-direction: row;
}

.aboutme-aboutme{
  display: flex;
  flex-direction: row;
  margin-top: 194px;
  margin-right: 100px;
  margin-left: 100px;
  height: 300px;
}

.aboutme-container{
  display: flex;
  flex-direction: row;
}

.aboutme-img{
  display: flex;
  flex-direction: column;
}

.aboutme-wordone{
  display: flex;
  flex-direction: column;
  margin-left: 67px;
  align-self: center;
}

.aboutme-me{
  width: 300px;
  height: 299.49px;
  border-radius: 149.746px;
}

.skill-seccion{
  display: flex;
  flex-direction: row;
  height: 385px;
}

.skill-letter{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
  justify-content: center;
  height: 200px;
}

.skill-word{
  display: flex;
  flex-direction: row;
}

.skill-skill{
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  width: 100%;
}

.skill-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
}

.skill-ico, .skill-icotwo, .skill-icothree,.skill-icofour, .skill-icofive,.skill-icosix, .skill-icoseven{
  display: flex;
  flex-direction: column;
}

.fa-js-square, .fa-html5, .fa-css3-alt, .fa-git-alt, .fa-bootstrap, .fa-node-js, .fa-figma, .fa-react{
  color:#A9CCE3;
  font-size: 64px;
  cursor: pointer;
}

.skill-ico, .skill-icotwo, .skill-icothree,.skill-icofour, .skill-icofive, .skill-icosix, .skill-icoseven {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85px;
}

.fb-logo{
  opacity: .5;
  width: 64px;
  height: 64px;
}

.footer-seccion{
  display: flex;
  flex-direction: row;
  background: #A9CCE3;
  justify-content: center;
  height: 300px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px 0px;
  justify-content: space-between;
}

.footer-word, .footer-contact, .footer-wordtwo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-linkedin, .fa-github, .fa-envelope{
  color: #242121;
  font-size: 64px;
  cursor: pointer;
}

h4{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #242121;
}

.blue-word{
  color:#A9CCE3;
}

.p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #242121;
}