*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.nav-nav{
  display: flex;
  flex-direction: row;
  background: rgba(103, 164, 192, 0.56);
  position: absolute;
  width: -webkit-fill-available;
  height: 84px;
  left: 0px;
  top: 0px;
  padding: 0px 100px
}

.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-img, .nav-inicio, .nav-proyectos, .nav-sobremi, .nav-contacto, .nav-vercv{
  display: flex;
  flex-direction: column;
}

.nav-logo{
  width: 60px;
  height: 60.17px;
}

.start-container{
  display: flex;
  flex-direction: row;
  margin-top: 84px;
  width: -webkit-fill-available;
  height: 400px;
}

.start-img{
  display: flex;
  flex-direction: row;
}

.start-compu{
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 0.7;
}

.start-letter{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
  align-self: center;
}

.start-word{
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

.start-wordtwo{
  display: flex;
  flex-direction: row;
}

h1{
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #242121;
}

h3{
  font-family:inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  color: #242121;
}